html, body {
  background-color: #ffeead;
}
header {
  position: fixed;
  top: 0;
  left: 10px;
  right: 10px;
}
footer {
  position: fixed;
  bottom: 0;
}
.headline {
  text-align: center;
}
.container {
  border: 5px solid #ffcc5c;
  display: flex;
  justify-content: center;
}
.cnopkamenu {
  margin: 2px 2px 2px 2px;
  padding-right: 10px ;
}
.basis {
  padding: 100px;
}
.copyright{
  padding: 10px;
}